#getActiveMQ-watcher {
    font-family: "0";
}

#debug {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 80px;
    background-color: #eeeeee;
    font-size: 10px;
    text-align: center;
    display: none;
}

.mindmap {
    width: 100%;
}

body {
    font-size: 12px;
    padding: 2px;
    max-width: 500px;
    min-width: 330px;
    font-family: Tahoma, Geneva, sans-serif;
    font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
}

nav.navigation {
    padding: 0px;
    font-size: 120%;
    /*border-bottom: 2px solid #dddddd;*/
    line-height: 200%;
    margin-bottom: 20px;
    font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
    text-transform: uppercase;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul.navigation {
    list-style-type: none;
    color: white;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    border: 0px solid green;
}

ul.navigation li a {
    color: black;
    ;
}



ul.navigation li {
    display: inline;
    color: black;
    padding: 5px;
    padding-bottom:10px;
    margin: 0px;
    border: 0px solid red;
}

ul.navigation li.active {
    border-bottom: 2px solid #666666
}

ul.navigation li:hover {
    border-bottom: 2px solid #dddddd;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

div {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 12px;
}

div.footer {
    display: block;
    width: 100%;
    font-size: 70%;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.zeitschrift_button {
    width: 47%;
    min-width: 150px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.zeitschrift_ausgabe {
    width: 30%;
    border: 1px solid white;
    background-color: #ffffff;
    padding: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.zeitschrift_ausgabe:hover {
    font-weight: bold;
    border: 1px solid #aaaaaa;
}

.zeitschrift_jahrgang_header {
    background-color: #eeeeee;
    padding-left: 10px;
}

.zeitschrift_jahrgang {
    display: block;
}

.ausgabe_coverpreview {
    width: 100%;
}

.ausgabe_anzahl {
    color: #888888;
    display: none;
}

.image_subtitle {
    line-height: 100%;
}

.small {
    font-size: 12px; /* 75% of the baseline */
}

.large {
    font-size: 20px; /* 125% of the baseline */
}

div.text {
    text-align: center;
    width: 80%;
    padding-left: 40px;
}

div.text div {
    text-align: left;
}

div.text a {
    text-decoration: underline;
}

div.text ul {
    padding: 20px;
}

@media (min-width: 35em) {

    #getActiveMQ-watcher {
        font-family: "1";
    }

    body {
        font-size: 14px;
        max-width: 56em;
    }

    .mindmap {
        width: 35em;
    }

    ul.navigation {
    }

    ul.navigation li {
        margin-right: 20px;
    }

    .zeitschrift_button {
        width: 31%;
    }

    .zeitschrift_ausgabe {
        width: 18%;
    }

}


@media (min-width: 57em) {

    #getActiveMQ-watcher {
        font-family: "2";
    }

    body {
        font-size: 14px;
        max-width: 65em;
        padding-left: 20px;
        border-right: 1px solid #eeeeee;
    }


    .zeitschrift_button {
        width: 24%;
        background-color: transparent;
        border: 1px solid transparent;
    }

    .zeitschrift_button:hover, .zeitschrift_button-hover, .zeitschrift_button:focus {
        background-color: #eeeeee;
        background-image: none;
        border: 1px solid #444444;
    }

    .zeitschrift_ausgabe {
        width: 15%;
    }

    .ausgabe_anzahl {
        display: inline;
    }
}


@media (min-width: 70em) {

    #getActiveMQ-watcher {
        font-family: "3";
    }

    body {
        font-size: 16px;
        max-width: 80em;
        padding-left: 20px;
        border-right: 1px solid #eeeeee;
    }

    .mindmap {
        width: 1043px;
    }

    .zeitschrift_button {
        width: 23%;
        background-color: transparent;
        border: 1px solid transparent;
    }

    .zeitschrift_ausgabe {
        width: 13%;
    }

    .ausgabe_anzahl {
        display: inline;
    }
}



