body {
    font-size: 12px;
    padding: 2px;
    max-width: 500px;
    min-width: 330px;
    font-family: Tahoma, Geneva, sans-serif;
    font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
}

nav.navigation {
    padding: 0px;
    font-size: 120%;
    /*border-bottom: 2px solid #dddddd;*/
    line-height: 200%;
    margin-bottom: 20px;
    font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
    text-transform: uppercase;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul.navigation {
    list-style-type: none;
    color: white;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    border: 0px solid green;
}

ul.navigation li a {
    color: black;
    ;
}



ul.navigation li {
    display: inline;
    color: black;
    padding: 5px;
    padding-bottom:10px;
    margin: 0px;
    border: 0px solid red;
}

ul.navigation li.active {
    border-bottom: 2px solid #666666
}

ul.navigation li:hover {
    border-bottom: 2px solid #dddddd;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

div {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

div.footer {
    display: block;
    width: 100%;
    font-size: 70%;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.zeitschrift_button {
    width: 47%;
    min-width: 150px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.zeitschrift_ausgabe {
    width: 30%;
    border: 1px solid white;
    background-color: #ffffff;
    padding: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.zeitschrift_ausgabe:hover {
    font-weight: bold;
    border: 1px solid #aaaaaa;
}

.ausgabe_coverpreview {
    width: 100%;
}

.image_subtitle {
    line-height: 100%;
}

.small {
    font-size: 12px; /* 75% of the baseline */
}

.large {
    font-size: 20px; /* 125% of the baseline */
}

@media (min-width: 500px) {
    body {
        font-size: 14px;
        max-width: 700px;
    }

    ul.navigation {
    }

    ul.navigation li {
        margin-right: 20px;
    }

    .zeitschrift_button {
        width: 32%;
    }

    .zeitschrift_ausgabe {
        width: 22%;
    }
}


@media (min-width: 800px) {
    body {
        font-size: 16px;
        max-width: 1000px;
        padding-left: 20px;
        border-right: 1px solid #eeeeee;
    }

    .zeitschrift_button {
        width: 23%;
    }

    .zeitschrift_ausgabe {
        width: auto;
    }
}



