<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header('')"></head>

<body>

<h1><span th:text="${zeitschrift.name} + ' / ' + ${ausgabe.shortname}">Zeitschrift-Name</span>
	<a th:href="@{${URL_ZEITSCHRIFTEN} + '/' + ${zeitschrift.id}}	" style="font-size:50%;font-weight: normal;">zur&uuml;ck</a>
</h1>

<img th:title="${ausgabe.coverfile}" th:src="'/ext/zeitschriften/' + ${zeitschrift.id} + '/cover/' + ${ausgabe.coverfile}"/>


<div th:include="footer :: copy"></div>
</body>
</html>
