<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header"
	th:with="title=${zeitschrift.name} + ' / ' + ${ausgabe.shortname}, image=${'http://kultpower.org/ext/zeitschriften/' + zeitschrift.id + '/cover/200/'+ ausgabe.coverfile}"
></head>

<body>
<nav th:replace="navigation :: navigation(URL_ZEITSCHRIFTEN)"></nav>

<h1>
	<a th:href="@{${URL_ZEITSCHRIFTEN} + '/' + ${zeitschrift.id}}"><i class="fa fa-chevron-circle-left"></i></a>
	<span th:text="${zeitschrift.name} + ' / ' + ${ausgabe.shortname}">Zeitschrift-Name</span>
</h1>

<img th:title="${ausgabe.coverfile}" th:src="'/ext/zeitschriften/' + ${zeitschrift.id} + '/cover/' + ${ausgabe.coverfile}"/>

<br clear="all"/>
<div th:replace="footer :: copy"></div>
</body>
</html>
