<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Startseite'"></head>
<body>

<nav th:replace="navigation :: navigation('index')"></nav>

<br/>
Testseite für Disqus !
<br/>
<br/>

<div style="border: 1px solid black;">
<div id="disqus_thread"></div>
</div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

     var disqus_config = function () {
     this.page.url = 'http://kultpower.org/disqus'; // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = 'disqus'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//kultpower.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<div th:replace="footer :: copy"></div>

</body>
</html>