<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">

        <meta charset="UTF-8"/>
        <title th:text="'Kultpower.org - ' + ${title}"></title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
        <link href="/style.css" rel="stylesheet" media="all"/>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

        <!--<meta property="og:url"               th:content=""/>-->
        <meta property="og:type"               content="article" />
        <meta property="og:title"              th:content="'Kultpower.org - ' + ${title}" />
        <meta property="og:description"        content="Kult-Zeitschriften der 80er und 90er Jahre. Power Play, Video Games, Amiga Joker, ASM und mehr." />
        <meta property="og:image" content="http://www.kultpower.org/ext/zeitschriften/_previews/powerplay.png" />
</head>

<body>



</body>

</html>
