<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Interviews'"></head>


<body>
<nav th:replace="navigation :: navigation(URL_INTERVIEWS)"></nav>

<div class="text">

    <h1>Interviews</h1>

    <div>
        <ul>
            <li th:each="interview : ${interviews}" class="interview">
                <a th:href="@{${URL_INTERVIEWS} + '/' + ${interview.id}}" th:text="${interview.title}">
                    Titel des Interviews
                </a>
                <span th:text="${'(' + interview.getDatum().toString('dd.MM.yyyy') + ')'}">1.1.2042</span>
            </li>

        </ul>


    </div>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
