<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title=${interview.title + ' (' + interview.getDatum().toString('yyyy') + ')'}, description=${interview.getIntroText()}"></head>

<body>
<nav th:replace="navigation :: navigation(URL_INTERVIEWS)"></nav>


<div class="content">

    <h1>
        <a th:href="@{${URL_INTERVIEWS}}"><i class="fa fa-chevron-circle-left"></i></a>
        <span th:text="${interview.title}">Interview-Titel</span>
        <br/>
        <!--/*@thymesVar id="datum" type="org.kultpower.entities.Interview"*/-->
    <span
            style="font-size: 50%; font-weight: normal;"
            th:text="${'Veröffentlicht am ' + interview.getDatum().toString('dd.MM.yyyy')}"
    >Erschienen am: 1.1.1900</span>
    </h1>


    <div class="interview">
        <div th:each="text : ${interview.texte}">

            <span th:if="${text.prefix!=''}">
                <div class="interviewprefix" th:text="${text.prefix + ':'}">Kultpower:</div>
                <div class="interviewtext" th:utext="${#strings.replace(text.text,T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">text</div>
            </span>
            <div th:if="${text.prefix==''}" class="interviewother">
                <span th:text="${text.text}">text</span>
            </div>
        </div>
    </div>
</div>

<span th:replace="disqus :: disqus"></span>

<div th:replace="footer :: copy"></div>

</body>
</html>
