<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<nav th:fragment="navigation(activeUrl)" role="navigation" aria-label="navigation" class="navigation">
    <ul class="navigation">
        <li th:class="${activeUrl}=='index' ? 'active' : ''"><a href="/">Home</a></li>
        <li th:class="${activeUrl}==URL_ZEITSCHRIFTEN ? 'active' : ''"><a th:href="${URL_ZEITSCHRIFTEN}">Zeitschriften</a></li>
        <li th:class="${activeUrl}==URL_INTERVIEWS ? 'active' : ''"><a th:href="${URL_INTERVIEWS}">Interviews</a></li>
    </ul>
</nav>


<body>


</body>

</html>
