<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header"
      th:with="title='revisions'"
></head>

<body>
<nav th:replace="navigation :: navigation(URL_ZEITSCHRIFTEN)"></nav>

<div class="content">

    <h1>
        <a th:href="@{${URL_ZEITSCHRIFTEN}}"><i class="fa fa-chevron-circle-left color-primary-0"></i></a>
        <span th:text="${revisionList.get(0).entity.name}">Zeitschrift-Name</span>
    </h1>

    <div th:each="rev : ${revisionList}">
        <a th:href="@{${URL_ZEITSCHRIFTEN} + '/' + ${rev.entity.id} + '/revisions/' + ${rev.revisionNumber}}">
            <span th:text="'Revision ' + ${rev.revisionNumber}"></span></a>:

        <span th:text="${rev.entity.name}"></span>
        <span th:text="' (' + ${rev.entity.ausgaben.size()} + ' Ausgaben)'"></span>

        <!--
        <div th:each="ausgabe : ${rev.entity.ausgaben}">
            <ul>
                <li th:text="${ausgabe.shortname}"></li>
            </ul>
        </div>
        -->
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
