<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header(${one.name})"></head>

<body>

<h1><span th:text="${one.name}">Zeitschrift-Name</span>
	<a th:href="@{${URL_ZEITSCHRIFTEN}}" style="font-size:50%;font-weight: normal;">zur&uuml;ck</a>
</h1>


<div th:each="ausgabe : ${one.ausgaben}">
		<!--<span th:text="${ausgabe.shortname}"></span>-->
		<a th:href="@{${#httpServletRequest.requestURI} + '/'+${ausgabe.id}}">
			<img class="zeitschrift_ausgabe" th:src="'/ext/zeitschriften/' + ${one.id} + '/cover/100/'+ ${ausgabe.coverfile}" th:title="${ausgabe.coverfile}"/>
		</a>

</div>

<div th:include="footer :: copy"></div>

</body>
</html>
